{# templates/wild/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>


    <div class="seriespage">
        <div class="container-fluid">
            <div class="row">
                {% for program in programs %}
                    <div class="card col-4" style="width: 25%;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/wild/show/{{ program.title |replace({' ':'-'})|lower }}">
                                    <h2>{{ loop.index }}
                                        / {{ program.title }} - <h6 class="card-subtitle mb-2 text-muted">Catégorie
                                            : {{ program.category.name }}</h6></h2>
                                </a>
                            </h5>
                            <p class="card-text">{{ program.summary }}</p>
                        </div>
                    </div>

                {% else %}
                    Aucune série trouvée.
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}