{# templates/wild/season.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="mainseason">
    <h1>Saison : {{ seasons.number }} de {{ program.title }} </h1>
    <p>{{ seasons.description }}</p>
    <div class="card">
        <div class="card-body">
            <p class="card-title">Liste des épisodes:</p>
            {% for episode in episodes %}
                <div class="row">
                    <div class=" offset-sm-4 col-sm-4 offset-sm-4">
                        <div class="card text-center">
                            <a href="/wild/episode/{{ episode.id }}"><p>Episode {{ episode.number }}
                                    : {{ episode.title }}</p></a></div>
                    </div>
                </div>
            {% endfor %}
            <a href="/wild/show/{{ program.title }}">
                <button type="button" class="btn btn-secondary">Retour</button>
            </a>
        </div>
    </div>
    {% endblock %}
